[Unit]
Description=HTTP API daemon
After=network.target

[Service]
User=<username>
WorkingDirectory=<path to app>
ExecStart=<full path to virtual environment>/venv/bin/gunicorn -b localhost:4000 -w 2 app:app
Restart=always

[Install]
WantedBy=multi-user.target